.image {
  background-image: url('../assets/images/prayagraj-tour.jpg');
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}
.image h1 {
  text-align: center;
  padding-top: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: #fff;
}
.Iternary {
  font-size: 25px;
  margin-left: 100px;
}
.list h1 {
  font-size: 30px;
}
.list p {
  font-size: 15px;
}
.list p {
  text-align: justify;
  margin-left: 3%; /* Adjust as needed */
  max-width: 70%; /* Adjust as needed */
}
.Lodging table {
  width: 100%;
  border-collapse: collapse;
}

.Lodging th,
.Lodging td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.Lodging th {
  background-color: #f2f2f2;
}

.Lodging tr:nth-child(even) {
  background-color: #f9f9f9;
}

.Lodging tr:hover {
  background-color: #f2f2f2;
}
.Lodging {
  text-align: justify;
  margin-left: 1%; /* Adjust as needed */
  max-width: 70%; /* Adjust as needed */
}
.Misc {
  display: flex;
}

.section {
  flex: 1;
  margin-right: 20px; /* Adjust spacing between sections */
}

.section img {
  max-width: 100%;
  height: auto;
}

.section p {
  margin-top: 3px;
  font-style: italic;
  margin-left: 8px;
}
.Misc img {
  height: 600px;
  width: 500px;
}

.navbar1 a {
  display: absolute;
  align-items: center; /* Align items vertically */
  color: var(--text-color);
  font-size: 30px;
  font-weight: 500;
  margin: 15px 22px;
  transition: all 0.5s ease;
  color: #13b3ac;
  text-align: center;
  margin-left: 30px;
  justify-content: center;
}

.navbar1 a .icon,
.navbar1 a .icon1,
.navbar1 a .icon2,
.navbar1 a .icon3,
.navbar1 a .icon4 {
  width: 24px; /* Adjust the width and height as needed */
  height: 24px;
  background-size: contain; /* Ensure the icon scales properly */
  margin-right: 5px; /* Adjust the spacing between the icon and text */
}
.navbar1 {
  justify-content: center;
  text-align: center;
  display: flex;
  height: auto;
}
.navbar1 a:hover {
  color: var(--main-color);
}

.nav {
  /* position: fixed; */
  /* top: -10; */
  z-index: 1000;
  width: 100%;
  background: transparent;
  padding: 5px 3%; /* Corrected padding value */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  background-color: #fff;
  margin-top: -50px;
}

.navbar1 a i,
h1 i {
  font-size: inherit;
  margin-right: 8px;
  vertical-align: middle;
}
